@*@model work_01.Models.Product
@{
    ViewBag.Title = "Delete";
}
<div class="row">
    <div class="col">
        <h1>Delete Product</h1>
        <div class="col-md-12">
            @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()

                <div class="row mb-2">
                    @Html.LabelFor(x => x.productName, new { @class = "col-form-label col-2 r" })
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.productName, new { @class = "form-control r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.productName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.Category.categoryName, new { @class = "col-form-label col-2 r" })
                    <div class="col-6">
                        @Html.TextBoxFor(x=>x.Category.categoryName,new { @class="form-control r"})
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.Category.categoryName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.price, new { @class = "col-form-label col-2 r" })
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.price, new { @class = "form-control r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.storeDate, new { @class = "col-form-label col-2 r" })
                    <div class="col-6">
                        @Html.EditorFor(x => x.storeDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Store Date", Type = "date" } })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.storeDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row mb-2">
                    @Html.LabelFor(x => x.picturePath, new { @class = "col-form-label col-2 r" })
                    <div class="col-6">
                        @Html.TextBoxFor(x => x.picturePath, new { @class = "form-control r" })
                    </div>
                    <div class="col-4">
                        @Html.ValidationMessageFor(x => x.picturePath, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="row mb-2">
                    <div class="col-10 offset-2">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="d-flex justify-content-start">
        <a href="@Url.Action("Index","Home")" class="btn btn-link btn-sm mb-2">Back to list</a>
    </div>
</div>*@

